.div1{
    border: 1px solid black;
    height: 250px;
    width: 600px;
    /* background-image: linear-gradient(to bottom, red, blue); */
    background-image: radial-gradient(circle,green,white,orange);
    background-image: conic-gradient(red 45deg,green 60deg);
}